.main-section-s {
  width: 100%;
  max-width: 700px;
  height: fit-content;
  background-color: white;
  color: black;
  box-shadow: 0px 2px 10px 8px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  font-family: "Beiruti", arial;
}
.change-area {
  padding: 20px;
  width: 94%;
  border-bottom: 1px solid rgb(173, 168, 168);
}
.s-title {
  font-size: 20px;
  margin-bottom: 5px;
  font-weight: 500;
}
.the-div {
  height: 100px;
}
.name-input-div {
  display: flex;
  flex-direction: column;
}
.net-input {
  height: 30px;
  width: 120px;
  font-size: 15px;
  font-weight: 500;
  border-radius: 5px;
  padding: 0px 12px;
  border: none;
  background-color: rgb(232, 232, 232);
}
.name-input {
  width: 210px;
  height: 30px;
  font-size: 15px;
  font-weight: 500;
  border-radius: 5px;
  padding: 0px 12px;
  border: none;
  background-color: rgb(232, 232, 232);
}
.net-input:focus,
.name-input:focus {
  outline: none;
}

.whole-cell {
  position: relative;
}
.selector-curr-div-s,
.selector-lang-div-s,
.selector-coun-div-s {
  width: 150px;
  height: 30px;
  border: none;
  border-radius: 5px;
  background-color: rgb(232, 232, 232);
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.selector-curr-div-s-l,
.selector-lang-div-s-l,
.selector-coun-div-s-l {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.viewer-curr-div-s,
.viewer-lang-div-s,
.viewer-coun-div-s {
  position: absolute;
  width: 150px;
  max-height: 150px;
  overflow-y: scroll;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  
  background-color: rgb(232, 232, 232);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  z-index: 1;
}
.viewer-curr-div-s::-webkit-scrollbar,
.viewer-lang-div-s::-webkit-scrollbar,
.viewer-coun-div-s::-webkit-scrollbar {
  background-color: transparent;
  width: 0px;
}
.curr-div,
.lang-div,
.coun-div {
  display: flex;
  justify-content: space-between;
  padding: 0px 3px;
}
.curr-pic,
.lang-pic,
.coun-pic {
  width: 18px;
  margin-left: 2px;
}
.curr-name,
.lang-name,
.coun-name {
  font-size: 17px;
}
.submit-button {
  width: 120px;
  height: 35px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: black;
  font-size: 20px;
  font-family: "Beiruti", arial;
  font-weight: 500;
  color: white;
}
.delete-all-div {
  height: 150px;
  padding: 20px;
}
.button-delete {
  width: 120px;
  height: 35px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: rgb(177, 26, 26);
  font-size: 20px;
  font-family: "Beiruti", arial;
  font-weight: 500;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.trash-pic {
  width: 20px;
}
.pop-div {
  margin-top: 10px;
  font-size: 20px;
  font-family: "Beiruti", arial;
}
.yes-no-div {
  margin-top: 20px;
}
.i {
  width: 60px;
  height: 30px;
  font-size: 16px;
  background-color: black;
  border: none;
  border-radius: 5px;
  color: white;
}