/*font-family: "Bebas Neue", arial; te bigger font 
font-family: "Edu NSW ACT Cursive", arial; the smallest one
font-family: "Inconsolata", monospace;
font-family: "Momo Trust Display", arial;
font-family: "Beiruti", arial; */

html,
body {
  height: 91%;
  margin: 0;
  user-select: none;
}
body {
  padding-top: 100px;
  padding-bottom: 30px;
  background-color: rgb(232, 232, 232);         
  color: rgb(232, 232, 232);
  display: flex;
  justify-content: center;
}
/* header styles*/
.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 70px;
  background-color: black;
  z-index: 100;
  color: white;
  display: flex;
}
.pages-div {
  width: 415px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Beiruti", arial;
  font-size: 20px;
}
.a {
  width: 100px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.15s;
}
.a:hover {
  background-color: rgb(33, 33, 33);
}
.page-name {
  transition: all 0.2s;
}
.a:hover .page-name {
  margin-bottom: 6px;
}
.header-info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 10px;
}

.user-name-div,
.user-name {
  font-size: 20px;
  font-family: "Beiruti", arial;
}