/*font-family: "Bebas Neue", arial; te bigger font 
font-family: "Edu NSW ACT Cursive", arial; the smallest one
font-family: "Beiruti", arial;*/
html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-family: "Beiruti", arial;
  line-height: 26px;
  background-color: rgb(232, 232, 232);
  user-select: none;
}
.main {
  width: 600px;
  padding: 20px;
  background-color: white;
  color: black;
  box-shadow: 0px 2px 10px 8px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  border-radius: 14px;
}
.topic-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0px;
}
.topic {
  font-size: 40px;
  font-weight: 500;
}
.flex-box-2,
.flex-box-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.net-worth-div,
.name-input-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.net-input {
  height: 30px;
  width: 120px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 5px;
  padding: 0px 12px;
  border: none;
  background-color: rgb(232, 232, 232);
}
.name-input {
  width: 210px;
  height: 30px;
  font-size: 15px;
  font-weight: 500;
  border-radius: 5px;
  padding: 0px 12px;
  border: none;
  background-color: rgb(232, 232, 232);
}
.net-input:focus,
.name-input:focus {
  outline: none;
}


.selector-curr-div,
.selector-lang-div,
.selector-coun-div {
  width: 150px;
  height: 30px;
  border: none;
  border-radius: 5px;
  background-color: rgb(232, 232, 232);
}

.cur-selector {
  height: 30px;
  width: 60px;
  border-radius: 7px;
  border: none;
}
.cur-selector:focus {
  outline: none;
}
.submit-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
}
.submit-button {
  width: 160px;
  height: 35px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background-color: black;
  font-size: 20px;
  font-family: "Beiruti", arial;
  font-weight: 500;
  color: white;
}
.warrenty-text {
  font-size: 16px;
  font-family: "Beiruti", arial;
}
.frist-text,
.second-text,
.third-text {
  display: flex;
  justify-content: right;
}
.prob-text {
  height: 40px;
  font-family: arial;
  font-size: 14px;
  color: rgb(231, 0, 0);
  margin-top: -7px;
  font-weight: 500;
}