/*font-family: "Bebas Neue", arial; te bigger font 
font-family: "Edu NSW ACT Cursive", arial; the smallest one
font-family: "Beiruti", arial;*/
html,
body {
  height: 100%;
  margin: 0;
  
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-family: "Beiruti", arial;
  line-height: 26px;
  background-color: rgb(232, 232, 232);
  user-select: none;
}
.main {
  width: 600px;
  padding: 20px;
  background-color: white;
  color: black;
  box-shadow: 0px 2px 10px 8px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  border-radius: 14px;
  
}
.topic-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0px;
}
.topic {
  font-size: 40px;
  font-weight: 500;
}
.flex-box-2,
.flex-box-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex-box-2 {
  
}
.net-worth-div,
.name-input-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.net-input {
  height: 30px;
  width: 120px;
  font-size: 15px;
  font-weight: 500;
  border-radius: 5px;
  padding: 0px 12px;
  border: none;
  background-color: rgb(232, 232, 232);
}
.name-input {
  width: 210px;
  height: 30px;
  font-size: 15px;
  font-weight: 500;
  border-radius: 5px;
  padding: 0px 12px;
  border: none;
  background-color: rgb(232, 232, 232);
}
.net-input:focus,
.name-input:focus {
  outline: none;
}

.whole-cell {
  position: relative;
}
.selector-curr-div,
.selector-lang-div,
.selector-coun-div {
  width: 150px;
  height: 30px;
  border: none;
  border-radius: 5px;
  background-color: rgb(232, 232, 232);
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.selector-curr-div-l,
.selector-lang-div-l,
.selector-coun-div-l {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.viewer-curr-div,
.viewer-lang-div,
.viewer-coun-div {
  position: absolute;
  width: 150px;
  max-height: 150px;
  overflow-y: scroll;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  
  background-color: rgb(232, 232, 232);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  z-index: 1;
}
.viewer-curr-div::-webkit-scrollbar,
.viewer-lang-div::-webkit-scrollbar,
.viewer-coun-div::-webkit-scrollbar {
  background-color: transparent;
  width: 0px;
}
.curr-div,
.lang-div,
.coun-div {
  display: flex;
  justify-content: space-between;
  padding: 0px 3px;
}
.curr-pic,
.lang-pic,
.coun-pic {
  width: 18px;
  margin-left: 2px;
}
.curr-name,
.lang-name,
.coun-name {
  font-size: 17px;
}

.submit-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}
.submit-button {
  width: 160px;
  height: 35px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background-color: black;
  font-size: 20px;
  font-family: "Beiruti", arial;
  font-weight: 500;
  color: white;
}
.warrenty-text {
  font-size: 16px;
  font-family: "Beiruti", arial;
}
.frist-text,
.second-text,
.third-text {
  display: flex;
  justify-content: right;
}
.prob-text {
  height: 40px;
  font-family: arial;
  font-size: 14px;
  color: rgb(231, 0, 0);
  margin-top: -7px;
  font-weight: 500;
}