/*font-family: "Bebas Neue", arial; te bigger font 
font-family: "Edu NSW ACT Cursive", arial; the smallest one
font-family: "Beiruti", arial;*/
html ,body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: arial;
  background-color: rgb(232, 232, 232);
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 10px 8px rgba(0, 0, 0, 0.15);

  padding: 20px;
  background-color: rgb(255, 255, 255);
  color: black;
  border-radius: 14px;

  width: 370px;
  
}
.icon-div {
  width: 70px;
}
.the-icon {
  width: 100%;
}
.start-text-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.flex-div:hover .ef { 
  width: 210px;
}
.ef {
  border: none;
  background-color: black;
  width: 0;
  height: 2px;
  border-radius: 10px;
  transition: all 0.3s;
}
.eff-div {
  display: flex;
  justify-content: right;
}

.starter-text {
  font-size: 40px;
  font-weight: bold;
  font-family: "Beiruti", arial;
  cursor: default;
  
}
.button-div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 51px;
  margin-top: 10px;
}
:root {
  --color1: 65%;
  --color2: 35%;
}
.lunch {
  height: 40px;
  width: 180px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: none;
  font-family: "Beiruti", arial;
  font-weight: 500;
  color:rgb(255, 255, 255);
  background-color: black;
  cursor: pointer;
  transition: all 0.15s;
}
.lunch:hover {
  background-color: rgb(40, 39, 39);
}
.thanks {
  margin-top: 20px;
  font-size: 14px;
  font-family: "Beiruti", sans-serif;
  line-height: 20px;
}
.frist,
.second,
.third,
.topic {
  display: flex;
  align-items: center;
  justify-content: right;
}
.my-name {
  display: flex;
  justify-content: center;

  font-family: "Beiruti", sans-serif;
  font-size: 17px;
  margin-bottom: 5px;
  margin-top: 25px;
}
.social {
  display: flex;
  justify-content: space-between;
}
.insta,
.face {
  width: 20px;
}
.face-pic,
.insta-pic {
  width: 100%;
}
.trap {
  width: 100;

}